<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzgz.learning.mapper.PaymentMapper">
  <resultMap id="BaseResultMap" type="com.gzgz.learning.model.Payment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="serial" jdbcType="DECIMAL" property="serial" />
  </resultMap>
</mapper>