<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzgz.learning.mapper.ResAuthorityMapper">
  <resultMap id="BaseResultMap" type="com.gzgz.learning.model.ResAuthority">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="authority_name" jdbcType="VARCHAR" property="authorityName" />
    <result column="authority_type" jdbcType="VARCHAR" property="authorityType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
</mapper>