<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzgz.learning.mapper.ResUserMapper">
  <resultMap id="BaseResultMap" type="com.gzgz.learning.model.ResUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="mobile_phone" jdbcType="INTEGER" property="mobilePhone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="login_time" jdbcType="DATE" property="loginTime" />
    <result column="last_login_time" jdbcType="DATE" property="lastLoginTime" />
    <result column="login_num" jdbcType="INTEGER" property="loginNum" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
</mapper>